<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-fr-marit/navio-IA700x900.png 700w, ../../../assets/website-images/images-fr-marit/navio-IA1024x575.png 1024w, ../../../assets/website-images/images-fr-marit/navio-IA1920x540.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
            <section class="content maxWidth">
                    <h1 class="title">Transporte Rodoviário</h1>
            
                <div class="flexContainer">
                    <div class="mainContentText">
                        <p>A <span class="uppercase">SCX AGENCIAMENTOS</span>, oferece a gestão completa da armazenagem, que
                            engloba desde o recebimento,
                            armazenagem, movimentação, separação e demais serviços complementares especializados, agregando
                            valor aos produtos para que estejam prontos para expedição, além de garantir a qualidade e segurança
                            das mercadorias.</p>
                    </div>
                    
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-des-adu/truck-circle.png 2560w"
                        sizes="(max-width: 400px) 100vw>">
                    </div>
                    
                </div>
            </section>
            <section class="reversedColor">
                <div class="maxWidth">
                    <h2>Suporte ao Cliente</h2>

                    <p>O serviço de armazenagem especializada pode ser realizado em nossos centros de distribuição ou em
                        suas instalações, com atividades diversificadas que englobam:</p>
                    <div class="panels">
                        <details name="panel">
                            <summary>Recebimento</summary>
                            <div class="summary-content">
                                
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Armazenagem</summary>
                            <div class="summary-content">
                                <p></p>
                                
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Movimentação</summary>
                            <div class="summary-content">
                                <p></p>
                                
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Picking & Packing</summary>
                            <div class="summary-content">
                                <p></p>
                                
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Expedição</summary>
                            <div class="summary-content">
                                <p></p>
                               
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Gestão de estoques (VMI)</summary>
                            <div class="summary-content">
                                <p></p>
                                
                            </div>
                        </details>

                        <p>O sistema de gestão de estoques da Sequencial Transportes é completo e totalmente automatizado. Voltado para clientes que agregam em sua cadeia múltiplos fornecedores, montadores e distribuidores. Este sistema permite total visibilidade de estoques avançados às partes envolvidas (fornecedores, operadores e fabricantes).</p>
                    </div>
                </div>
            </section>
            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>

<app-footer></app-footer>