@import "../../variables.scss";


.backgroundImg {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, $accent-color 70% ), url(../../../assets/website-images/logo-redimensionada.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

    .maxWidth {
        margin: auto;
    }

    .title {
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 1.8em;
        padding: 2em 0 0;
    }

    p {
        font-size: 1em;
        text-align: center;
        color: white;
        margin: 1em 0;
        line-height: 1.6em;
        font-weight: 300;
        margin: 2em 0;
    }   
}
