<footer>
    <div class="maxWidth">
        <div class="flexIconFooter">
            <div class="flexContainer">
                <h2>Navegação</h2>
                <ul class="nav_footer">
                    <li class="nav_footer_li" ><a href="home">Home</a></li>
                    <li class="nav_footer_li" ><a href="frete-maritimo">Frete Marítimo</a></li>
                    <li class="nav_footer_li" ><a href="frete-aereo">Frete Aéreo</a></li>
                    <li class="nav_footer_li" ><a href="transporte-rodoviario">Transporte Rodoviário</a></li>
                    <li class="nav_footer_li" ><a href="desembaraco-aduaneiro">Desembaraço Aduaneiro</a></li>
                    <li class="nav_footer_li" ><a href="seguro-carga">Seguro de Carga</a></li>
                    <li class="nav_footer_li" ><a href="contato">Contato</a></li>
                </ul>
            </div>

            <div class="flexContainer">
                <h2>Contato</h2>
                <ul class="nav_footer">
                    <li class="nav_footer_li" ><a>(13) 3321-5574</a></li>
                    <li class="nav_footer_li" ><a href="mailto:scx@scxagenciamentos.com">scx&commat;scxagenciamentos.com</a></li>
                </ul>
            </div>

            <div class="flexContainer">
                <h2>Redes Sociais</h2>
                <ul class="nav_footer_icon">
                    <li class="nav_footer_li_icon" ><a href="https://www.linkedin.com/in/scxagenciamentos-5a060b109?trk=nav_responsive_tab_profile/" class="icon_footer icon-linkedin2" target="_blank"></a>
                    </li>
                    <li class="nav_footer_li_icon"><a href="https://www.facebook.com/SCXAGENCIAMENTOS/" class="icon_footer icon-facebook" target="_blank"></a>
                    </li>
                    <li class="nav_footer_li_icon"><a href="https://www.twitter.com/SCXAGENCIAMENTO" class="icon_footer icon-x" target="_blank"></a>
                    </li>
                </ul>    
            </div>
            

                <div class="flexContainer">
                    <h2>Informações Adicionais</h2>
                    <ul class=" nav_footer nav_footer-info">
                        <li class="nav_footer_li"><a href="https://portalunico.siscomex.gov.br/portal/" class="nav_footer_li" target="_blank">Portal Siscomex</a></li>
                        <li class="nav_footer_li" ><a href="https://www.bcb.gov.br/" class="nav_footer_li" target="_blank">Banco Central</a></li>
                        <li class="nav_footer_li"><a href="https://www.gov.br/mdic/pt-br" class="nav_footer_li" target="_blank">Mdic</a></li>
                        <li class="nav_footer_li"><a href="https://www.gov.br/receitafederal/pt-br" class="nav_footer_li" target="_blank">Receita Federal</a></li>
                        <li class="nav_footer_li"><a href="https://www.gov.br/anvisa/pt-br" class="nav_footer_li" target="_blank">Anvisa</a></li>
                        <li class="nav_footer_li"><a href="https://www.gov.br/agricultura/pt-br/assuntos/vigilancia-agropecuaria" class="nav_footer_li" target="_blank">Vigiagro</a></li>
                        <li class="nav_footer_li"><a href="https://www.gov.br/pt-br/orgaos/instituto-nacional-de-metrologia-qualidade-e-tecnologia" class="nav_footer_li" target="_blank">Inmetro</a></li>
                    </ul>                            
                </div>
        </div>
        <div class="copy">
            <p>Copyright &copy; 2013-2024</p>
        </div>
    </div>
    
</footer>

