<footer>
    <div class="maxWidth">
        <div class="flexIconFooter">
            <ul class="nav_footer">
                <li class="nav_footer_li" ><a href="https://www.linkedin.com/in/scxagenciamentos-5a060b109?trk=nav_responsive_tab_profile/" class="icon_footer icon-linkedin2" target="_blank"></a>
                </li>
                <li class="nav_footer_li"><a href="https://www.facebook.com/SCXAGENCIAMENTOS/" class="icon_footer icon-facebook" target="_blank"></a>
                </li>
                <li class="nav_footer_li"><a href="https://www.twitter.com/SCXAGENCIAMENTO" class="icon_footer icon-x" target="_blank"></a>
                </li>
               
            </ul>                            
        </div>
    </div>
    
</footer>

