<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-fr-aereo/airplane-480x420.png 500w, ../../../assets/website-images/images-fr-aereo/airplane-1024x300.png 1024w, ../../../assets/website-images/images-fr-aereo/airplane-1920x540.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
                <section class="content maxWidth">
                    <h1 class="title">Frete Aéreo</h1>

                    <div class="flexContainer">
                        <article>
                            <p>Oferecemos uma ampla gama de serviços consolidados de encaminhamento de frete aéreo para a maioria dos destinos ao redor do mundo. Nossa rede abrangente de serviços internacionais, aliada à nossa equipe de profissionais de classe mundial, está preparada para atender todas as suas necessidades de frete aéreo, incluindo operações de retirada de mercadoria, desembaraço aduaneiro, entrega e distribuição.
                            </p>

                            <p>Nossos serviços de consolidação confiáveis e programados globalmente, bem como o transporte porta a porta, garantem tempos de entrega curtos com a segurança e a confiabilidade que seu negócio exige. Também oferecemos serviços de fretamento aéreo, conforme necessário, para situações de emergência, remessas de tamanhos e formas incomuns ou para quando você precisar de uma remessa não programada de frete aéreo.
                            </p>

                            <p>Combinando logística avançada e a rapidez proporcionada pelo transporte aéreo, oferecemos as soluções mais modernas para seus desafios exclusivos de transporte.</p>
                        </article>
                        <div class="imageMainContent">
                            <img srcset="../../../assets/website-images/images-fr-aereo/airplane-circle.png 2560w"
                            sizes="(max-width: 400px) 100vw>">
                        </div>
                    </div>
                </section>

                <section class="reversedColor">
                    <div class="maxWidth ">
                        <h2>Nossa logística avançada, combinada com a velocidade que o transporte aéreo proporciona, permite oferecer as mais novas soluções disponíveis para seus desafios exclusivos de transporte. Nossos serviços abrangentes incluem:
                        </h2>
                            <div class="panels">
                                <details name="panel">
                                    <summary>Serviço de porta a porta</summary>
                                    <div class="summary-content">
                                        <p>Nosso serviço de porta a porta garante a coleta e entrega direta das mercadorias no destino final, proporcionando conveniência e eficiência. Este serviço elimina a necessidade de intermediários, reduzindo o tempo e os custos associados ao transporte.</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Transporte direto e consolidado de importação e exportação</summary>
                                    <div class="summary-content">
                                        <p>Oferecemos transporte direto e consolidado para importação e exportação, otimizando a logística e reduzindo custos. O transporte consolidado permite que várias remessas sejam combinadas em um único envio, tornando o processo mais econômico.</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Transporte de mercadorias perigosas</summary>
                                    <div class="summary-content">
                                        <p>Especializamo-nos no transporte de mercadorias perigosas, seguindo rigorosos padrões de segurança. Nossos profissionais são treinados para manusear e transportar materiais perigosos de acordo com as regulamentações internacionais, garantindo a segurança durante todo o processo.</p>
                                
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Transporte de mercadorias perecíveis</summary>
                                    <div class="summary-content">
                                        <p>Oferecemos soluções especializadas para o transporte de mercadorias perecíveis, assegurando que produtos sensíveis, como alimentos e flores, cheguem ao destino em perfeitas condições. Utilizamos tecnologias de controle de temperatura e monitoramento para manter a qualidade dos produtos.</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Transporte de produtos farmacêuticos</summary>
                                    <div class="summary-content">
                                        <p> Para a indústria farmacêutica, disponibilizamos soluções de transporte específicas que mantêm a integridade dos produtos durante todo o processo. Utilizamos embalagens especiais e condições controladas de temperatura para garantir que medicamentos e produtos biológicos sejam entregues de forma segura e eficaz.</p>
                                    
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Serviços de embalagem</summary>
                                    <div class="summary-content">
                                        <p>Nossos serviços de embalagem garantem que todas as mercadorias sejam acondicionadas de forma segura e adequada para o transporte. Utilizamos materiais de alta qualidade e técnicas avançadas de embalagem para proteger os produtos contra danos durante o transporte, assegurando que cheguem em perfeitas condições ao destino final.</p>
                                    
                                    </div>
                                </details>
                            </div>
                    </div>      
            </section>

            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>

<app-footer></app-footer>