<app-header></app-header>
<main>
    <section class="mainContent">
        <div>
            <section class="content maxWidth">
                <h1 class="title">Seguro de Carga</h1>

                <div class="flexContainer">
                    <article>
                        <p>O seguro de carga tem como principal objetivo proporcionar tranquilidade durante o transporte de mercadorias. Ele é destinado ao proprietário (embarcador) das mercadorias transportadas em seus veículos ou entregues a terceiros (autônomos ou transportadoras), seja por via marítima, aérea, terrestre ou aquaviária. Este seguro cobre perdas ou danos sofridos pelas mercadorias durante o transporte, garantindo a segurança dos bens.
                        </p>

                        <p>Esse seguro é especialmente importante para importadores e exportadores de mercadorias entre o Brasil e o exterior. Independentemente do meio de transporte utilizado – marítimo, aéreo, terrestre ou aquaviário - o seguro oferece cobertura adaptada às condições de venda estabelecidas entre o importador e o exportador. As coberturas podem incluir custos como FOB (Free on Board), frete, despesas diversas, lucros esperados e impostos (II, IPI e ICMS).
                        </p>

                        <p>A contratação de um seguro de carga é uma medida essencial para minimizar riscos e assegurar que eventuais perdas ou danos sejam compensados financeiramente. Ao garantir a proteção das mercadorias, o seguro contribui para a estabilidade e confiança nas operações de comércio exterior.</p>
                    </article>
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-seguro-carga/insurance.png 2560w"
                        sizes="(max-width: 600px) 200vw">
                    </div>
                </div>
            </section>
            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>
<app-footer></app-footer>
