<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-des-adu/caminhao-estrada2.jpg 600w, ../../../assets/website-images/images-des-adu/truck-1920x540.png, 1920w"
        sizes="(min-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
            <section class="maxWidth content">
                <h1 class="title">Desembaraço Aduaneiro</h1>
                <div class="flexContainer">
                    <article class="articleContent">
                        <p>Oferecemos um amplo e completo serviço de desembaraço aduaneiro. Nossos serviços de despachante aduaneiro, transporte rodoviário local e armazenamento são integrados às nossas operações de importação e exportação, proporcionando visibilidade e previsão completas da liberação das cargas, desde o trânsito interno até a entrega final. Essa integração permite uma gestão eficiente e transparente, garantindo que todas as etapas do processo sejam cumpridas de forma eficaz.</p>

                        <p>A SCX Agenciamentos Marítimos ajuda nossos clientes a navegar com sucesso pelos regulamentos comerciais complexos, evitando custos e atrasos adicionais. Nossa equipe de especialistas está preparada para gerenciar os processos aduaneiros, desde a documentação necessária até a inspeção e liberação das mercadorias. Trabalhamos para assegurar que todas as operações estejam em conformidade com as normas vigentes, proporcionando tranquilidade e segurança aos nossos clientes.</p>

                        <p>Além disso, nossa abordagem proativa permite a avaliação contínua das conformidades, garantindo que os serviços sejam compatíveis, precisos e oportunos. Com a SCX Agenciamentos Marítimos, você pode contar com uma gestão aduaneira eficiente, que minimiza riscos e maximiza a eficiência operacional, facilitando suas operações de comércio exterior.</p>
                    </article>
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-des-adu/truck-circle.png 2560w"
                        sizes="(max-width: 400px) 100vw>">
                    </div>
                </div>
            </section>
            <section class="reversedColor">
                <div class="maxWidth">
                    <h2>Suporte ao Cliente</h2>

                    <p>A <span class="uppercase">SCX AGENCIAMENTOS MARÍTIMOS</span> ajuda nossos clientes a navegar com
                        sucesso pelos regulamentos comerciais complexos e a evitar custos e atrasos adicionais. Nossa equipe
                        está preparada para gerenciar os processos audaneiros e avaliar a confirmidade para garantir os
                        serviços compatíveis precisos e oportunos.</p>

                    <p>Algumas de nossas tarefas:</p>
                    <div class="panels">
                        <details name="panel">
                            <summary>Consultoria em Comércio Exterior</summary>
                            <div class="summary-content">
                                <p>Oferecemos consultoria especializada para ajudar empresas a otimizar suas operações de importação e exportação, garantindo conformidade e eficiência.
                                </p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Classificação Tarifária - NCM (Nomenclatura Comum do Mercosul)</summary>
                            <div class="summary-content">
                                <p>Auxiliamos na correta classificação tarifária de mercadorias, assegurando a aplicação das taxas e regulamentações adequadas.
                                </p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Regime Aduaneiro Especial</summary>
                            <div class="summary-content">
                                <p>Fornecemos suporte na utilização de regimes aduaneiros especiais, como drawback e admissão temporária, para maximizar benefícios fiscais.
                                </p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Elaboração e Conferência de Documentos Necessários</summary>
                            <div class="summary-content">
                                <p>Preparamos e revisamos toda a documentação exigida para o desembaraço aduaneiro, garantindo precisão e conformidade.
                                </p>
                                </div>
                        </details>
                        <details name="panel">
                            <summary>LPCO (Licenças, Permissões, Certificados e Outros Documentos)</summary>
                            <div class="summary-content">
                                <p>Gerenciamos a obtenção de LPCOs, essenciais para a legalidade e liberação de mercadorias no comércio exterior.
                                </p>
                                </div>
                        </details>
                        <details name="panel">
                            <summary>Registros DUIMP (Declaração Única de Importação) e DU-E (Declaração Única de Exportação)</summary>
                            <div class="summary-content">
                                <p>Realizamos o registro e acompanhamento de DUIMP e DU-E, assegurando um processo de importação e exportação ágil e transparente.
                                </p>
                                </div>
                        </details>
                    </div>
                </div>
            </section>
           <app-contato-content></app-contato-content>
        </div>   
    </section>
</main>

<app-footer></app-footer>