<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-des-adu/caminhao-estrada2.jpg 600w, ../../../assets/website-images/images-des-adu/truck-1920x540.png, 1920w"
        sizes="(min-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
            <section class="maxWidth content">
                <h1 class="title">Desembaraço Aduaneiro</h1>
                <div class="flexContainer">
                    <article class="articleContent">
                        <p>Podemos oferecer um conjunto completo de serviços de desembaraço aduaneiro. Nossos serviços de
                            despachanete aduaneiro, transporte local e programas de armazém são integrados às nossas operações
                            de importação e exportação, permitindo visibilidade e previsão completas da liberação das cargas por
                            todos os membros da equipe, desde o trânsito interno até a entrega final.</p>
                    </article>
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-des-adu/truck-circle.png 2560w"
                        sizes="(max-width: 400px) 100vw>">
                    </div>
                </div>
            </section>
            <section class="reversedColor">
                <div class="maxWidth">
                    <h2>Suporte ao Cliente</h2>

                    <p>A <span class="uppercase">SCX AGENCIAMENTOS MARÍTIMOS</span> ajuda nossos clientes a navegar com
                        sucesso pelos regulamentos comerciais complexos e a evitar custos e atrasos adicionais. Nossa equipe
                        está preparada para gerenciar os processos audaneiros e avaliar a confirmidade para garantir os
                        serviços compatíveis precisos e oportunos.</p>

                    <p>Algumas de nossas tarefas:</p>
                    <div class="panels">
                        <details name="panel">
                            <summary>Conferência dos Documentos de Embarque</summary>
                            <div class="summary-content">
                                <p>É o tipo de conhecimento de transporte que é emitido em 3 vias originais, e um fica com a transportadora, outro com o comprador e uma terceira sempre acompanhando a carga para liberação aduaneira nos países.
                                </p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Emissão de Licenças de Importação</summary>
                            <div class="summary-content">
                                <p>Para que uma mercadoria que vem do exterior seja recebida e comercializada aqui no Brasil, a empresa responsável por trazer o produto de fora precisa de uma licença de importação para que o trâmite seja considerado legal pela legislação tributária.
                                </p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Registro de Declaração de Exportação e Importação</summary>
                            <div class="summary-content">
                                <p>O Registro de Exportação (RE) é o conjunto de informações de natureza comercial, financeira, cambial e fiscal que caracteriza a operação de exportação de uma mercadoria e define o seu enquadramento. (art. 184 da Portaria Secex nº 23, de 2011).</p>
                                <p>A regra geral para o processamento do despacho de mercadoria transportada a granel objeto de descarga direta é o registro de DI na modalidade de despacho antecipado. Nessa modalidade de despacho, a DI deverá ser registrada:

                                    1. Antes da chegada da carga no país, conforme disposto no art. 17 da IN SRF nº 680/2006;

                                    2. Sem informação de data de chegada da carga; e

                                    3. Com número de documento de carga idêntico ao que constar no sistema de controle de carga.</p> 
                            </div>
                        </details>
                        <details name="panel">
                            <summary>Drawback</summary>
                            <div class="summary-content">
                                <p>O drawback é um regime aduaneiro especial que permite a suspensão, isenção ou restituição de tributos incidentes sobre insumos importados utilizados na fabricação de produtos destinados à exportação.
                                </p>
                            </div>
                        </details>
                        <details name="panel">
                            <summary>LPCO</summary>
                            <div class="summary-content">
                                <p>O LPCO é o módulo no qual o importador poderá solicitar uma licença (L), permissão (P), certificado (C) ou outro documento (O) necessário em função do produto (NCM) ou de outras características da operação (país de origem ou de aquisição, fundamento legal etc.).
                                </p>
                                </div>
                        </details>
                    </div>
                </div>
            </section>
           <app-contato-content></app-contato-content>
        </div>   
    </section>
</main>

<app-footer></app-footer>