<app-header></app-header>
<main>
    <!-- <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-fr-marit/navio-IA700x900.png 700w, ../../../assets/website-images/images-fr-marit/navio-IA1024x575.png 1024w, ../../../assets/website-images/images-fr-marit/navio-IA1920x540.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section> -->

    <section class="mainContent">
        <div>
            <section class="content maxWidth">
                <h1 class="title">Frete Marítimo</h1>

                <div class="flexContainer">
                    <article>
                        <p>Com uma gama de experiência na movimentação de mercadorias com
                            nossos serviços de frete marítimo, a <span class="uppercase">SCX AGENCIAMENTOS MARÍTIMOS</span> está
                            totalmente equipada para lidar
                            com
                            suas remessas. Oferecemos frete marítimo e serviços totalmente personalizados com tarifas
                            competitivas e
                            tempos de trânsito rápidos para todos os nossos clientes.
                        </p>

                        <p>Nossos serviços de frete marítimo cobre os serviços FCL e LCL. Com nosso alto nível de
                            experiência em
                            desembaraço aduaneiro, suas formalidades podem ser atendidas onde necessário, incluindo
                            assistência
                            imediata, confiável e profissional.
                        </p>
                    </article>
                    <div class="imageMainContent">
                        <img srcset="../../../assets/website-images/images-fr-marit/navio-IA-circle.png 2560w"
                        sizes="(max-width: 400px) 100vw>">
                    </div>
                </div>
            </section>
            <section class="reversedColor">
                    <div>
                        <h2>Oferecemos uma gama completa de serviços de frete marítimo de importação e exportação,
                            incluindo:
                        </h2>
                            <div class="panels">
                                <details name="panel">
                                    <summary>LCL / (Less than Container Loads) Carga menos do que de contêineres</summary>
                                    <div class="summary-content">
                                    <p>O envio less than container load é uma opção de transporte de carga pelo mar quando você não possui volumes suficientes para justificar o custo de um contêiner inteiro. 
                                    Transportar sua carga desta forma significa compartilhar o espaço do contêiner com a carga de um ou mais remetentes.</p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>FCL / (Full Container Loads) Carga completa no container</summary>
                                    <div class="summary-content">
                                    <p>FCL significa Full Container Load (contêiner totalmente carregado), ou seja, é quando o importador ou exportador utilizará totalmente o container. Isso significa acesso a todo o espaço disponível dentro da unidade. Além disso, ao utilizar o FCL, será pago um valor fixo pelo frete do contêiner.
                                    </p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Porta a porta</summary>
                                    <div class="summary-content">
                                    <p>Door to Door vem do inglês “Porta a Porta” e se trata de uma operação completa, na qual a empresa de logística é responsável pelo processo desde a coleta do produto com a organização que a contratou até a entrega para o cliente final.
                                    </p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Carga de projeto</summary>
                                    <div class="summary-content">
                                    <p>Carga de projeto são todas aquelas cujas medidas, dimensões e peso são fora dos padrões para o embarque em contêineres convencionais. Normalmente são cargas como reatores, turbinas, transformadores, geradores, guindastes, plataformas, usinas completas, pás eólicas e equipamentos de grande porte.
                                    </p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Ro-Ro</summary>
                                    <div class="summary-content">
                                    <p>Ro-Ro é a sigla utilizada para definir os navios cargueiros Roll on-Roll off. É um segmento específico dentro do universo da navegação. Numa tradução livre, Roll on-Roll off significa Rolar para dentro-Rolar para fora. Uma definição mais acurada seria navio de “carga rolante”, ou seja, aquela que embarca e desembarca do navio rolando, seja em cima de suas próprias rodas (ou lagartas), seja em cima de um equipamento específico para isso. 
                                    </p>
                                    </div>
                                </details>
                                <details name="panel">
                                    <summary>Break Bulk</summary>
                                    <div class="summary-content">
                                    <p>Break bulk é usado para descrever um tipo de transporte especial para mercadorias de grandes dimensões. Este tipo de carga muitas vezes equivale a itens de grande porte ou de formato irregular, como maquinários pesados, peças de construção, veículos, entre outros, ou seja, cargas especiais em tamanho e peso.
                                    </p>
                                    </div>
                                </details>
                            </div>
                    </div>    
            </section>
            <app-contato-content></app-contato-content>
        </div>
    </section>
</main>
<app-footer></app-footer>
