@import "../../variables.scss";

.mainContent {
    text-align: center;

    .maxWidth {
        max-width: 85%;
        margin: 0 auto;
    }

    section, .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;

        .title {
            color: $main-color;
            margin: 2em 0;
            font-weight: 400;
            font-size: 2.4em;
        }

        p {
            font-size: 1.2em;
            text-align: justify;
            color: $main-color;
            margin: 1em 0;
            line-height: 1.6em;
            font-weight: 300;
        }   
    }


    .reversedColor {
        background: linear-gradient($main-color, $accent-color 70%);
        color: white;
        margin: 0;


        .title {
            margin: 1em 1em;
            color: white;
        }

        h2 {
            font-weight: 400;
            margin: 1em 0 2em 0;
        }

        .panels {
            margin: 2em 0;
        }

        details {
            max-width: 65%;
            margin: 0 auto ;
            background: $accent-color;
            margin-bottom: .5rem;
            box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
            border-radius: 5px;
            overflow: hidden;
        }
          
        summary {
            padding: 1em;
            display: block;
            background: $main-color;
            padding-left: 2.2rem;
            position: relative;
            cursor: pointer;
            user-select: none;
        }
          
        summary:before {
            content: '';
            border-width: .4rem;
            border-style: solid;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            top: 1.3rem;
            left: 1rem;
            transform: rotate(0);
            transform-origin: .1rem 50%;
            transition: .5s transform ease;
        }
          
        details[open] > summary:before {
            transform: rotate(90deg);
        }
          
          
        details summary::-webkit-details-marker {
            display:none;
        }

        .summary-content {
            padding: 1em;

            p {
                color: white;
                font-size: 1em;
                font-weight: 300;
            }
        }

        .imageMainContent {
            width: 1%;
            margin: 3em auto;

            img {
                max-width: 100%;
            }
        }
    }

    h3 {
        font-weight: 300;
        margin: 1em 0 1em 0;
    }

    .contatoContent {

        h2 {
            color: $main-color;
            margin: 1em 0;
            font-weight: 400;
        }

    }
}

@media(min-width:1200px) {
    .flexContainer {
        display: flex;
        flex-direction: row;
        gap: 4em;
    }

    .imageMainContent {
        margin: auto 0;

        img {
            display: block;
            text-align: center;
        }
    }

}