<section class="contatoContent">
    <div class="maxWidth">
        <div class="flexIconFooter">
            <ul class="nav_info">
                <li class="nav_info_li"><a href="https://portalunico.siscomex.gov.br/portal/"  target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Portal Siscomex</a></li>
                <li class="nav_info_li" ><a href="https://www.bcb.gov.br/" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Banco Central</a></li>
                <li class="nav_info_li"><a href="https://www.gov.br/mdic/pt-br" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Mdic</a></li>
                <li class="nav_info_li"><a href="https://www.gov.br/receitafederal/pt-br" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Receita Federal</a></li>
                <li class="nav_info_li"><a href="https://www.gov.br/anvisa/pt-br" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Anvisa</a></li>
                <li class="nav_info_li"><a href="https://sistemasweb.agricultura.gov.br/pages/SIGVIG.html" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Sigvig</a></li>
                <li class="nav_info_li"><a href="https://www.gov.br/pt-br/orgaos/instituto-nacional-de-metrologia-qualidade-e-tecnologia" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Inmetro</a></li>
                <li class="nav_info_li"><a href="https://www3.fazenda.sp.gov.br/Simp/" target="_blank" class="icon_info ">
                    <img ngSrc="../assets/icons/Link.png" width="24" height="24">Sefaz</a></li>
            </ul>                            
        </div>
        
        <div class="contatoContainer">
            <h2>Entre em contato com nosso time</h2>
            <p>Se você está interessado em nossa tarifa, solicite uma cotação. Responderemos em 24 horas. Esteja
                ciente
                de que também oferecemos soluções para sua melhor logística.</p>
                
                <a routerLink="/contato" routerLinkActive="active" class="cta">Fale Conosco</a>
        </div>
    </div>
</section>
