<section class="contatoContent">
    <div class="maxWidth">
        
        <div class="contatoContainer">
            <h2>Entre em contato com nosso time</h2>
            <p>Se você está interessado em nossa tarifa, solicite uma cotação. Responderemos em 24 horas. Esteja
                ciente
                de que também oferecemos soluções para sua melhor logística.</p>
                
                <a routerLink="/contato" routerLinkActive="active" class="cta">Fale Conosco</a>
        </div>
    </div>
</section>
