@import "../../variables.scss";

form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;

    label {
        color: white;
        margin-top: 1em;
        margin-bottom: .4em;
        font-size: 1.4em;
    }

    input, textarea {
        padding: .6em 0.4em;
        color: $main-color;
        font-size: 1em;
        border: 0;
        outline: 0;
        transition: all .25s ease-in-out;
        border-radius: 6px;
    }
    
    textarea {
        height: 8em;
    }

    input:focus, textarea:focus {
        padding-left: 2em;
    }

    .flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin: 3em;
            background: $main-color;
            border: none;
            cursor: pointer;
            color: white;
            padding: 1em 1.4em;
            font-size: 1em;
            border-radius: 10px;
        }
    }

}

.container-message {
    position: relative;

    .container-message-background {
        position: absolute  ;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 3px rgba($color: #000000, $alpha: .2);
        transform: translateX(-50%);
        left: 50%;
        width:max-content;
        top: -40px;
    
        .successMessage {
            color: black;
            margin: .2em 1em;
          }
          
          .errorMessage {
            color: black;
            margin: .2em 1em;
          }
    
    }
}

  

@media(max-width: 700px) {
    .formContainer {

        .form {
            width: 80%;
        }

    }
    .container-message {
        .container-message-background {
            left: 50%
        }
    }
}

@media(max-width: 1300px) {
    .formContainer {

        .form {
            width: 70%;
        }

    }
}
