<app-header></app-header>
<main>
    <section class="heroBanner">
        <img srcset="../../../assets/website-images/images-home/container500x500.png 500w, ../../../assets/website-images/images-home/navio-frente-1024x576.png 1024w, ../../../assets/website-images/images-home/ship-home-1920x700.png 1920w"
        sizes="(max-width: 400px) 100vw>">
    </section>

    <section class="mainContent">
        <div>
            <section class="maxWidth">
                <div class="content">
                    <h1 class="title">Serviços Logísticos</h1>

                    <div class="split">
                        <div class="content-split">
                            <p>Na SCX AGENCIAMENTOS MARÍTIMOS, por meio de experiência em transporte, fornecemos soluções
                                eficientes
                                de transportes de cargas em todos os continentes de forma rápida e eficaz</p>
                        </div>
                        <div class="content-cotacao">
                            <app-cotacao></app-cotacao>
                        </div>
                    </div>
                </div>
            </section>

            <section>
            <div class="reversedColor">
                <h1 class="title">Explore nossos Serviços</h1>

                <div class="content">
    
                    <div class="rowIcons">
                        <a href="frete-maritimo" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/ship.svg"/></div>
                
                                <h3>Frete Marítimo</h3>
                                
                            </article>
                        </a>

                        <a href="frete-aereo" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/airplane.svg"/></div>
                
                                <h3>Frete Aéreo</h3>
                                
                            </article>
                        </a>

                        <a href="transporte-rodoviario" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/truck.svg"/></div>
                
                                <h3>Transporte Rodoviário</h3>
                                
                            </article>
                        </a>
                        <a href="desembaraco-aduaneiro" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/display.svg"/></div>
                
                                <h3>Desembaraço Aduaneiro</h3>
                                
                            </article>
                         </a>
                        
                        

                        <a href="seguro-carga" class="btn">
                            <article class="col col-sm-12 col-md-6 col-xl-3">
                                
                                <div class="icon"><img src="../../../assets/icons/shield.svg"/></div>
                                    
                                <h3>Seguro de Carga</h3>
                                
                            </article>
                        </a>
                    </div>
                    <section class="mt-2">
                        <div class="maxWidth flexContainer">
                            <div class="content">
                                <p>O departamento de frete da SCX AGENCIAMENTOS é dividido em várias subdivisões e
                                    garante que ele ofereça um serviço de qualidade aos clientes. A divisão de Frete Marítimo está
                                    envolvida nas atividades FCL e LCL, além do transporte Break Bulk.</p>
        
                                <p>A SCX AGENCIAMENTOS oferece uma gama diversificada de serviços, tanto no movimento internacional
                                    quanto na distribuição doméstica de mercadorias, garantindo a satisfação de nossos clientes, com
                                    soluções econômicas, confiáveis e pontuais de entrega.</p>
                                
                            </div>
        
                            <div class="imageMainContent">
                                <img srcset="../../../assets/website-images/images-home/mapa-azul-circle.png 2560w"
                                sizes="(max-width: 600px) 200vw">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
            <section>
                    <div class="maxWidth">
                        <div class="contatoContent">
                            <div class="contatoContainer">
                                <h1 class="title">Entre em contato com nosso time</h1>
                                
                                <p>Nossos profissionais experientes garantem a liberação das mercadorias de forma rápida e eficiente
                                    por
                                    meio de nossa rede de desembaraço aduaneiro eletrônico. Temos o compromisso de fornecer serviços
                                    consistentes e confiáveis de maneira oportuna e profissional. </p>

                                <p>A SCX AGENCIAMENTOS cobre todos os principais aeroportos globais, fornecendo serviços de
                                    qualidade e
                                    valores competitivos. Mantemos parcerias com várias companhias qualificadas e comprometidas em
                                    fornecer serviços seguros, eficientes e pontuais em todo mundo.</p>

                                <p>Se você está interessado em nossa tarifa, solicite uma cotação. Responderemos em 24 horas. Esteja
                                    ciente
                                    de que também oferecemos soluções para sua melhor logística.</p>

                                <a href="/contato" class="cta">Fale Conosco</a>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </section>
</main>
<app-footer></app-footer>